body { min-width: 320px; max-width: 1920px; margin: 0 auto; background: #f2f2f2; color: #3c4247; }
a, a:hover { text-decoration: none; }
section { padding: 40px 0; box-shadow: 0px 6px 6px 0px #8a8a8a; position: relative; }

.dark-grey-bg { background: #3c4247; }
.red-color { color: #971812; }

.container { padding: 0 !important; }
.header { font-family: 'Open Sans', sans-serif; font-size: 14px; }
.header .header-top { height: auto; }
.header .top-container { display: flex; align-items: center; min-height: 100px; }
.header .top-container-inner { width: 100%; }
.header .contacts-container { display: flex; }
.header .contacts-col:first-child { margin-right: 20px; }
.header .contact-item { display: flex; align-items: center; width: 140px; }
.header .contact-item a { color: #3c4247; }
.header .mail-item a { text-decoration: underline; color: #971812; }
.header .contact-item-img { width: 22px; }
.header .grey-button { width: 100%; height: 30px; font-size: 14px; color: #fff; border: 0; border-radius: 4px; margin-top: 5px; }
.header .header-bottom { height: auto; min-height: 1px; }
.header .menu-container { display: flex; align-items: center; justify-content: space-between; }
.header .menu-container a { height: 65px; line-height: 65px; display: block; width: 147px; text-align: center; color: white; font-size: 18px; }
.header .menu-container a:hover { background: white; color: #3c4247; }
.footer .footer-contact-form { height: 400px; border-bottom: 2px solid #c7c7c7; }
.footer .footer-contact-form form { width: 100%; height: 400px; display: flex; align-items: center; justify-content: center; }
.footer .form-title { color: #3c4247; font-size: 24px; text-align: center; }
.footer .inputs-container { display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; margin-top: 40px; }
.footer .inputs-container input { width: 220px; height: 26px; border: 0; border-bottom: 1px solid #971812; background: transparent; padding-left: 30px; color: #971812; font-size: 16px; }
.footer .inputs-container textarea { padding: 12px; margin-top: 20px; resize: none; width: 555px; height: 100px; border-radius: 5px; border: 0; font-size: 16px; resize: none; box-shadow: 1px 27px 4px -26px #8a8a8a inset; }
.footer .inputs-container button { font-size: 16px; width: 200px; height: 35px; margin: 15px auto 0; border: 0; border-bottom: 2px solid #75120d; border-radius: 3px; color: #fff; background: #971812; }
.footer .user-input { position: relative; }
.footer .mail-input { position: relative; }
.footer .user-input:before { display: block; width: 16px; height: 16px; content: ''; position: absolute; bottom: 8px; left: 0; background: url(../images/input-user-icon.png) center center no-repeat; }
.footer .mail-input:before { display: block; width: 21px; height: 15px; content: ''; position: absolute; bottom: 8px; left: 0; background: url(../images/input-mail-icon.png) center center no-repeat; }
.footer .footer-bottom { min-height: 100px; padding: 20px 0; }
.footer .bottom-menu { display: flex; align-items: center; justify-content: space-between; }
.footer .bottom-menu a { color: #3c4247; text-decoration: underline; }
.footer .bottom-copyright { color: #8a8a8a; font-size: 12px; margin-top: 30px; text-align: center; }


#page-product .product-info-container /*.product-info-container*/ { margin-bottom: 50px; display: flex; }
#page-product .product-info-container .single-product-container { display: flex; margin-right: 15px; }
#page-product .product-info-container .product-photo-container { width: 300px; margin-right: 15px; }
#page-product .product-info-container .product-photo-item { border-radius: 5px; }
#page-product .product-info-container .product-description-container { width: 540px; }
#page-product .product-info-container .product-title { display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; }
#page-product .product-info-container .product-name { font-size: 36px; font-weight: 700; line-height: 28px; }
#page-product .product-info-container .product-price { font-size: 24px; color: #971812; }
#page-product .product-info-container .product-price span { font-weight: 700; }
#page-product .product-info-container .product-parameters { font-size: 18px; width: 100%; }
#page-product .product-info-container .product-information-container { margin-top: 20px; }
#page-product .product-info-container .product-information-links { display: flex; justify-content: space-between; }
#page-product .product-info-container .product-information-link { height: 26px; line-height: 22px; /*padding: 0 13px;*/ padding: 0; border-bottom: 3px solid #3c4247; flex-grow: 1; text-align: center; }
#page-product .product-info-container .product-information-link-active { border-color: #971812; font-weight: 700; }
#page-product .product-info-container .product-information-tab { display: none; width: 100%; border-radius: 5px; background: #fff; padding: 5px 0; }
#page-product .product-info-container .product-information-item { height: 24px; line-height: 23px; font-size: 14px; padding-left: 20px; }
#page-product .product-info-container .product-information-item:not(:last-child) { border-bottom: 1px solid #f2f2f2; }
#page-product .product-info-container .product-information-tab-active { display: block; }
#page-product .product-info-container .product-information-container button { text-transform: uppercase; font-size: 16px; width: 100%; height: 35px; margin: 15px auto 0; border: 0; border-bottom: 2px solid #75120d; border-radius: 3px; color: #fff; background: #971812; }
#page-product .product-info-container .categories-container { width: 300px; }
#page-product .product-info-container .categories-content { padding: 5px 0; background: white; border-radius: 5px; }
#page-product .product-info-container .category-item { height: 42px; line-height: 42px; font-size: 18px; color: #6d6d6d; padding-left: 12px; }
#page-product .product-info-container .category-item:not(:last-child) { border-bottom: 1px solid #f2f2f2; }
#page-product .product-info-container .category-not-found { margin-top: 15px; width: 100%; padding: 28px 20px; background: #75120d; display: flex; justify-content: space-between; align-items: center; border-radius: 5px; }
#page-product .product-info-container .category-not-found a { display: flex; justify-content: space-between; align-items: center; width: 100%; }
#page-product .product-info-container .question-text { font-size: 28px; color: #fff; font-weight: 700; text-align: right; letter-spacing: -1px; width: 170px; }
#page-product .product-links-container { overflow: hidden; border: 1px solid #989898; border-radius: 5px; }
#page-product .product-links-container .product-link-item { padding: 0 !important; height: 230px; font-size: 24px; background: white; display: flex; align-items: center; }
#page-product .product-links-container .product-link-item a { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; }
#page-product .product-links-container .product-link-item a:hover { background: #6b120e; }
#page-product .product-links-container .product-link-item a:hover .product-link-title { color: white; }
#page-product .product-links-container .product-link-img img { height: 94px; height: auto; }
#page-product .product-links-container .product-link-title { text-align: center; margin-top: 40px; color: #3c4247; }
#page-product .product-links-container .product-link-item:nth-child(-n+3) { border-bottom: 1px solid #989898; }
#page-product .product-links-container .product-link-item:not(:nth-child(3n)) { border-right: 1px solid #989898; }

.mainpage-slider { margin-bottom: 60px; }
.bx-wrapper { max-width: 1170px !important; }
.bx-wrapper .bx-pager.bx-default-pager a.active { background: #971812; }
.bx-wrapper .bx-pager.bx-default-pager a { background: #3c4247; }
.slider-item { width: 380px; height: 320px; border-radius: 5px; margin-right: 15px; }
.slider-item:nth-child(3n) { margin-right: 0; }
.slider-item-inner { width: 380px; height: 320px; border-radius: 5px; overflow: hidden; position: relative; }
.slider-photo { width: 380px; height: 320px; }
.slider-info { width: 380px; position: absolute; top: 285px; font-size: 18px; font-family: 'Open Sans'; color: #edeef0; font-weight: 400; background: rgba(60,66,71,0.9); }

.slider-info-title { height: 35px; line-height: 35px; padding-left: 20px;  }
.slider-info-hidden { padding: 5px 0; border-top: 1px solid #fff; padding-left: 20px; }
.slider-info-hidden a { text-decoration: underline; color: #edeef0; line-height: 45px; display: block; }
.slider-item:hover .slider-info { -webkit-transition: all 0.7s ease; -moz-transition: all 0.7s ease; -ms-transition: all 0.7s ease; -o-transition: all 0.7s ease; transition: all 0.7s ease; top: 184px; }

.slider-item:hover .slider-info-title { font-weight: 700; letter-spacing: -0.7px; }
.slider-item:hover .slider-info { background: rgba(151,24,18,0.9); }

.slider-bottom-title { background: #971812; padding: 20px 0; font-size: 18px; font-weight: 600; color: #fff; text-align: center; font-family: 'Open Sans'; }
.slider-bottom-title span { font-weight: 700; }

.advantages-conntainer { display: flex; flex-wrap: wrap; justify-content: space-between; padding-top: 60px; padding-bottom: 20px; }
.advantage-item { display: flex;align-items: center; padding-left: 40px; width: 320px; flex-grow: 1; }
.advantage-item:nth-child(-n+3) { margin-bottom: 50px; }
.advantage-item-ico { width: 40px; }
.advantage-item-title { font-size: 18px; font-weight: 700; font-family: 'Open Sans'; }

